PORT=3001
MAKE_WEBHOOK_SECRET=
VITE_API_URL=http://10.0.2.2:3001
DATABASE_HOST=aws-1-eu-west-1.pooler.supabase.com
DATABASE_PORT=5432
DATABASE_NAME=postgres
DATABASE_USER=postgres.SEUPROJETO
DATABASE_PASSWORD=SUA_PASSWORD
