PORT=3001
MAKE_WEBHOOK_SECRET=
VITE_API_URL=http://127.0.0.1:3001
VITE_NATIVE_API_URL=
DATABASE_HOST=aws-1-eu-west-1.pooler.supabase.com
DATABASE_PORT=5432
DATABASE_NAME=postgres
DATABASE_USER=postgres.SEUPROJETO
DATABASE_PASSWORD=SUA_PASSWORD
DATABASE_SSL=require
